@import "./reset.css";

:root {
	--crowd-font: "Fira Sans Condensed";
	--font-light: 300;
	--font-normal: 400;
	--font-bold: 700;
}

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-monitor: 1400px;

$base-padding: 2.25rem;
$base-border-radius: 3px;
$menu-items-spacing: 1rem 1.8rem;
$base-color-dark: rgb(59, 57, 57);
$base-text-size: 14px;
$base-text-line-height: 22px;
$base-title-size: 22.65px;
$base-subheader-size: 22.65px;
$base-title-line-height: 110%;
$base-slide-title-size: 49.3px;
$base-box-shadow: 0 0 5px #00000022;
$hover-box-shadow: 0 0 20px #00000022;

$scaleMap: ($breakpoint-phone: 0.7,
	$breakpoint-tablet: 0.8,
	$breakpoint-laptop: 1,
	$breakpoint-desktop: 1.12,
	$breakpoint-monitor: 1.18);

* {
	margin: 0;
	padding: 0;
	font-family: var(--crowd-font);
	box-sizing: border-box;
}

body {
	font-size: $base-text-size;
	line-height: $base-text-line-height;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

header {
	top: 0;

	nav {
		display: flex;
		justify-content: space-between;
		padding: $base-padding;

		div#logo {
			position: relative;
			width: 92px;
			height: 92px;

			a {
				display: block;
			}

			img {
				max-width: 100%;
			}
		}

		#menu-inline {
			align-self: center;
		}

		#menu-inline li {
			display: inline-block;

			a {
				padding: $menu-items-spacing;
				color: $base-color-dark;
			}
		}
	}
}

.container {
	.row {
		display: flex;
		flex-direction: row;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-bold);
	font-size: $base-text-size;
	line-height: $base-title-line-height;
}

h1 {
	font-size: $base-title-size;
}

h2 {
	font-size: $base-subheader-size;
	font-weight: 300;
	line-height: 110%;
	letter-spacing: 1em;
	text-transform: uppercase;
}

.dark-background {
	color: #ffffff !important;
}

.slider-background {
	//background: url(../img/ellipse-background-of-slider.svg) no-repeat;
	//background-position: center center;
	//background-size: 100%;
	// transform-origin: x-offset y-offset;
	overflow: hidden;
	$size: 140em;
	// $offset: calc( -100em);
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;

	img {
		//animation: rotateForever 22s linear infinite;
		align-self: center;
		position: absolute;
		transform: scale(1.6);
		transform-origin: center;
		//top: -80em;
		top: -100px;
	}
}

.relative-wrapper {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: space-around;
	transform-origin: top;
	transition: transform 1s ease;
	height: 90vh;

	// @each $breakpoint, $value in $scaleMap {
	// 	@media (min-width: #{$breakpoint}) {			
	// 		transform: scale($value); 
	// 	}
	// }
}

.crowd-paragraph {
	/* position: absolute; */
	position: relative;
	/* left: 6%; */
	max-width: 245px;
	padding: 5rem 3rem 3rem 5rem;
	/* background-color: #ffffffAA; */
	box-sizing: content-box;

	h1 {
		font-size: $base-title-size;
		margin-bottom: $base-text-size;
	}
}

.slogan {
	font-size: 32.65px;
	line-height: 110%;
	font-weight: 400;
	margin-bottom: 65.128px;
}

.slider {
	/* margin-top: -40px; */

	h1 {
		font-size: $base-slide-title-size;
		white-space: nowrap;
		margin-bottom: $base-text-size;
	}

	.tag {
		text-transform: uppercase;
		letter-spacing: 0.4em;
		font-style: italic;
		font-weight: 400;
		margin-bottom: $base-text-size;
	}


}

.collage {
	position: relative;
	right: 0%;
	z-index: -1;
	width: 50%;
	height: 100%;

	div {
		position: absolute;
		display: block;
		transform: scale(1.1) translate(0);
		-ms-transform-origin-x: 101%;
		/* transition: all 0.5s ease-out; */
	}
}

.background-box {
	position: absolute;
	z-index: -2;
	/* left: 5rem; */
	width: 88%;
}

.stamp {
	background: url(../img/stamp.svg) no-repeat;
	position: absolute;
	width: 143px !important;
	height: 143px !important;
	animation: rotateForever 48s linear infinite;
	/* transform-origin: 0; */
}

.companies {
	* {
		box-sizing: border-box;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	$active-background: #162e79;

	.company {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
		transition: flex .3s ease;
		list-style: none;
		padding: $base-padding;
		margin: 2px;
		background-color: #203885;
		border-radius: $base-border-radius;
		box-shadow: $base-box-shadow;
		cursor: pointer;
		transition: all 500ms ease;

		&:hover {
			box-shadow: $hover-box-shadow;
			background-color: $active-background;

			.flap-title {
				opacity: 1;
			}
		}

		p {
			max-width: 150px;
		}

		$content-margin-bottom: 2em;

		.content {
			display: flex;
			z-index: 2;
			box-sizing: border-box;
		}

		.front {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.company-logo {
			height: 150px;
			margin-bottom: $content-margin-bottom;

			img {
				width: 150px;
			}
		}

		.behind {
			width: 66%;
			display: none;
		}

		.content-slider {
			display: block;
			height: 150px;
			margin-bottom: $content-margin-bottom;

			.slide>img {
				height: 150px;
			}
		}

		h3 {
			font-size: $base-title-size;
			line-height: $base-title-line-height;
			background: url(../img/companies/arrow-right.png) no-repeat;
			background-position: left bottom;
			height: 61px;
		}

		.content-row {
			display: flex;

			.content-column {
				width: 33%;
				padding-right: 10%;
			}
		}

		.flap-title {
			display: none;
		}
	}

	.enlarge {
		flex: 100;
		cursor: normal;
		background: $active-background;

		.content {
			width: 90vh;
		}

		.front {
			width: 33%;
		}

		.behind {
			display: block;
		}
	}

	.flap {
		flex: 1;

		.front,
		.behind {
			display: none;
		}

		.flap-title {
			display: block;
			transform-origin: center;
			transform: rotate(-90deg);
			opacity: .6;
		}
	}
}

@keyframes rotateForever {
	from {
		transform: rotateZ(0);
	}

	to {
		transform: rotateZ(360deg);
	}
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
	width: 100%;
	/* padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem); */
	margin-right: auto;
	margin-left: auto;
	transition: max-width 300ms ease;
	// border: 2px dashed fuchsia;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.row-no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row-no-gutters [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}

@media (min-width: $breakpoint-phone) {

	.container-sm,
	.container {
		max-width: 540px;
	}
}

@media (min-width: $breakpoint-tablet) {

	.container-md,
	.container-sm,
	.container {
		max-width: 720px;
	}
}

@media (min-width: $breakpoint-laptop) {

	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 960px;
	}
}

@media (min-width: $breakpoint-desktop) {

	.container-xl,
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 1140px;
	}
}

@media (min-width: $breakpoint-monitor) {

	.container-xxl,
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 1320px;
	}
}