@import url(c:\Users\ui\OneDrive\Crowd Outside\Landing Page Design\website\landing-page-nobs\css\reset.css);
:root {
  --crowd-font: "Fira Sans Condensed";
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--crowd-font);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  top: 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.25rem;
}

header nav div#logo {
  position: relative;
  width: 92px;
  height: 92px;
}

header nav div#logo a {
  display: block;
}

header nav div#logo img {
  max-width: 100%;
}

header nav #menu-inline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav #menu-inline li {
  display: inline-block;
}

header nav #menu-inline li a {
  padding: 1rem 1.8rem;
  color: #3b3939;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 110%;
}

h1 {
  font-size: 22.65px;
}

h2 {
  font-size: 22.65px;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.dark-background {
  color: #ffffff !important;
}

.slider-background {
  overflow: hidden;
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-background img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transform-origin: center;
          transform-origin: center;
  top: -100px;
}

.relative-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  height: 90vh;
}

.crowd-paragraph {
  /* position: absolute; */
  position: relative;
  /* left: 6%; */
  max-width: 245px;
  padding: 5rem 3rem 3rem 5rem;
  /* background-color: #ffffffAA; */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.crowd-paragraph h1 {
  font-size: 22.65px;
  margin-bottom: 14px;
}

.slogan {
  font-size: 32.65px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 65.128px;
}

.slider {
  /* margin-top: -40px; */
}

.slider h1 {
  font-size: 49.3px;
  white-space: nowrap;
  margin-bottom: 14px;
}

.slider .tag {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 14px;
}

.collage {
  position: relative;
  right: 0%;
  z-index: -1;
  width: 50%;
  height: 100%;
}

.collage div {
  position: absolute;
  display: block;
  -webkit-transform: scale(1.1) translate(0);
          transform: scale(1.1) translate(0);
  -ms-transform-origin-x: 101%;
  /* transition: all 0.5s ease-out; */
}

.background-box {
  position: absolute;
  z-index: -2;
  /* left: 5rem; */
  width: 88%;
}

.stamp {
  background: url(../img/stamp.svg) no-repeat;
  position: absolute;
  width: 143px !important;
  height: 143px !important;
  -webkit-animation: rotateForever 48s linear infinite;
          animation: rotateForever 48s linear infinite;
  /* transform-origin: 0; */
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.companies * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.companies .company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-box-flex .3s ease;
  transition: -webkit-box-flex .3s ease;
  transition: flex .3s ease;
  transition: flex .3s ease, -webkit-box-flex .3s ease, -ms-flex .3s ease;
  list-style: none;
  padding: 2.25rem;
  margin: 2px;
  background-color: #3C4D7A;
  border-radius: 3px;
}

.companies .company .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.companies .company .front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies .company .behind {
  width: 66%;
  display: none;
}

.companies .company .content-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.companies .company h3 {
  font-size: 22.65px;
  line-height: 110%;
  background: url(../img/companies/arrow-right.png) no-repeat;
  background-position: left bottom;
  height: 61px;
}

.companies .company .content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.companies .company .content-row .content-column {
  width: 33%;
  padding-right: 10%;
}

.companies .company .flap-title {
  display: none;
}

.companies .company .company-logo {
  max-width: 125px;
}

.companies .company p {
  margin-top: 22px;
  max-width: 150px;
}

.companies .enlarge {
  -webkit-box-flex: 100;
      -ms-flex: 100;
          flex: 100;
}

.companies .enlarge .front {
  width: 33%;
}

.companies .enlarge .behind {
  display: block;
}

.companies .flap {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.companies .flap * {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.companies .flap .front, .companies .flap .behind {
  display: none;
}

.companies .flap .flap-title {
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: .6;
}

.companies .flap:hover .flap-title {
  opacity: 1;
}

@-webkit-keyframes rotateForever {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateForever {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  /* padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem); */
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: max-width 300ms ease;
  transition: max-width 300ms ease;
  border: 2px dashed fuchsia;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
/*# sourceMappingURL=style.css.map */